<%include ../layout/header.ejs %>
<h1>Add Products</h1>

<form class="" action="/products/add" method="post" enctype="multipart/form-data" id="ProductForm">
    <label>Product Name</label>
      <label>
        <input type="text" name="proname" value="" required>
      </label>
      <br>
    <label>Product id</label>
      <label>
        <input type="text" name="_id" value="" required>
      </label>
      <br>
    <label>Product Price</label>
      <label>
        <input type="number" name="price"  value="3" min="0" required>LE
      </label>
      <br>
    <label>Category</label>
      <label>
        <select name="category" required>
	 <%category.forEach(function(category){%>
  		<option value="<%= category._id %>"><%= category.catname %></option>
	 	 <%})%>
 	 </select>
  	<a href="/category/add">Add Category </a>
      </label>
      <br>
    <label>Product Image</label>
      <label>
        <input type="file" name="proimg" required>
      </label>
      <br>
  <input type="submit" value="Add">
  <input type="reset" value="Clear">
</form>
<%include ../layout/footer.ejs %>
