<%include ../layout/header.ejs %>
<h1>Add Products</h1>

<form class="" action="/products/add" method="post" enctype="multipart/form-data">
  <input type="file" name="proimg" value="">
  <input type="submit" value="Add">
</form>
<%include ../layout/footer.ejs %>
