<%include ../layout/header.ejs %>
<h1>Add Products</h1>

<form class="" action="/products/edit" method="post" enctype="multipart/form-data">
  <label>Product id</label>
    <label>
      <input type="text" disabled="disabled" name="_id" value="<%=obj._id%>" required>
    </label>
    <br>
    <label>Product Name</label>
      <label>
        <input type="text" name="proname" value="<%=obj.proname%>" required>
      </label>
      <br>
    <label>Product Price</label>
      <label>
        <input type="text" name="price" value="<%=obj.price%>" required>
      </label>
      <br>
    <label>Category</label>
      <label>
        <select name="category" required>
         <option value="Hot Drinks">Hot Drinks</option>
         <option value="Cold Drinks">Cold Drinks</option>
        </select>
        <a href="">Add Category</a>
      </label>
      <br>
    <label>Product Image</label>
      <label>
        <input type="file" name="proimg" value="" required>
      </label>
      <br>
  <input type="submit" value="Add">
</form>
<%include ../layout/footer.ejs %>
